{% extends "base.html" %}
{% block content %}
{% if message is not empty %}
{% import "macros/forms.html" as forms %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{attributes.name}}</h1>

<div>
    <button class="btn btn-default">Ainesosat</button>
</div>

<form method='post' action='{{base_path}}/drinks/{{attributes.id}}/edit'>
    <div class="form-group">
        <strong>Nimi: </strong><input type="text" name="name" class="form-control" value="{{attributes.name}}">
        <strong>Alkoholipitoisuus: </strong><input type="text" name="alcohol_content" class="form-control" value="{{attributes.alcohol_content}}">
        <strong>Tilavuus: </strong><input type="text" name="volume" class="form-control" value="{{attributes.volume}}">
        <strong>Lasisuositus: </strong><input type="text" name="glass" class="form-control" value="{{attributes.glass}}">
        <strong>Juomatyyppi: </strong><input type="text" name="drink_type" class="form-control" value="{{attributes.drink_type}}">
        <strong>Valmistusaika: </strong><input type="text" name="preparation_time" class="form-control" value="{{attributes.preparation_time}}">
        <strong>Kuvaus: </strong><input type="text" name="description" class="form-control" value="{{attributes.description}}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
<p>
    {{drink.description}}
</p>
{% endblock %}