{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% import "macros/bars.html" as bars%}

<h1>Lisää drinkki arkistoon</h1>

{% if errors %}
{{bars.error_bar(errors)}}
{% endif %}

<form method="post" action="{{base_path}}/drink">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="name" class="form-control" value="{{attributes.name}}">
    </div>

    <div class="col-xs-3">
        <label for="alcohol_content">Alkoholipitoisuus</label>
        <input type="text" name="alcohol_content" class="form-control" value="{{attributes.alcohol_content}}">
    </div>
    <div class="col-xs-3">
        <label for="volume">Tilavuus</label>
        <input type="text" name="volume" class="form-control" value="{{attributes.volume}}">
    </div>
    <div class="col-xs-3">
        <label for="drink_type">Juomatyyppi</label>
        <input type="text" name="drink_type" class="form-control" value="{{attributes.drink_type}}">
    </div>
    <div class="col-xs-3">
        <label for="preparation_time">Valmistusaika</label>
        <input type="text" name="preparation_time" class="form-control" value="{{attributes.preparation_time}}">
    </div>

    <div>
        <label>Ainesosat</label>
    </div>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
            Lisää ainesosa
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for ingredient in ingredients %}
            <li><a href="#">{{ingredient.name}}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="form-group">
        <label for="glass">Lasisuositus</label>
        <input type="text" name="glass" class="form-control" value="{{attributes.glass}}">
    </div>

    <div class="form-group">
        <label for="description">Kuvaus</label>
        <input name="description" id="description" class="form-control" value="{{attributes.description}}">
    </div>
    
    {{forms.save_button(action, "Lisää")}}
</form>
{% endblock %}
