{% extends "base.html" %}
{% block content %}
{% if message is not empty %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{drink.name}}</h1>

<p>
    <button class="btn btn-default">Ainesosat</button>
</p>

<ul>
    <li><strong>Varastossa:</strong>
        {% if drink.in_stock %}
        <label class="label label-success">Kyllä
        {% else %}
        <label class="label label-danger">Ei
        {% endif %}
        </label>
    </li>
    <li><strong>Alkoholipitoisuus: </strong>{{drink.alcohol_content}}</li>
    <li><strong>Tilavuus: </strong>{{drink.volume}}</li>
    <li><strong>Glass: </strong>{{drink.glass}}</li>
    <li><strong>Juomatyyppi: </strong>{{drink.drink_type}}</li>
    <li><strong>Valmistusaika: </strong>{{drink.preparation_time}}</li>
</ul>

<p>
    {{drink.description}}
</p>
{% endblock %}