{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% import "macros/alerts.html" as alerts %}

{% if message is not empty %} 
{{alerts.success_message(message)}}
{% endif %}

<h1>
    {{drink.name}}
    {% if user_logged_in %}
    {{forms.destroy_button("#{base_path}/drinks/#{drink.id}/destroy")}}
    {% endif %}
</h1>

<div class="row" style="width: 300px; margin: 10px" >
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Ainesosat</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Ainesosa</th>
                    <th>Määrä</th>
                </tr>
            </thead>
            <tbody>
            {% for ingredient in recipe %}
                <tr>
                    <td><a href="{{base_path}}/ingredients/{{ingredient.ingredient_id}}">{{ingredient.name}}</a></td>
                    <td>{{ingredient.amount}} cl</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<ul>
    <li><strong>Varastossa:</strong>
        {% if drink.check_availability %}
        <label class="label label-success">Kyllä
        {% else %}
        <label class="label label-danger">Ei
        {% endif %}
        </label>
    </li>
    <li><strong>Alkoholipitoisuus: </strong>{{drink.alcohol_content}}</li>
    <li><strong>Tilavuus: </strong>{{drink.volume}} cl</li>
    <li><strong>Lasisuositus: </strong>{{drink.glass}}</li>
    <li><strong>Juomatyyppi: </strong>{{drink.drink_type}}</li>
    <li><strong>Valmistusaika: </strong>{{drink.preparation_time}}</li>
</ul>

<p>
    {{drink.description}}
</p>

{% if user_logged_in %}
{{forms.edit_button("#{base_path}/drinks/#{drink.id}/edit")}}
{% endif %}

{% endblock %}