{% extends "base.html" %}
{% block content %}
<h1> Kaikki drinkit </h1>

<p>
    <a href="#" class="btn btn-primary">Ehdota drinkkiä</a>
</p>

<table class="table table-condensed"> 
    <thead>
        <tr class="active">
            <th>Nimi</th>
            <th>Varastossa</th>
            <th>Kuvaus</th>
            <th>Lisätty</th>
        </tr>
    </thead>

    <tbody>
        <tr class="success">
            <td><a href="#">Rommikola</td>
            <td>Kyllä</td>
            <td>Rommia ja kolaa</td>
            <td>6.11.2015</td>
        </tr>
    </tbody>
</table>

{% endblock %}
