{% extends "base.html" %}
{% block content %}
<h1>Muokkaa tietuetta Rommikola</h1>

<form>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" value="Rommikola">
    </div>
    <div class="form-group">
        <label>Varastossa</label>
        <input type="text" class="form-control" value="Ei">
    </div>
    <div class="form-group">
        <label>Ainesosat</label>
    </div>
    <div class="form-inline">
        <label>Rommi</label>
        <input type="text" class="form-control" value="">
        <button type="submit" class="btn btn-danger">Poista ainesosa</button>
    </div>
    <div class="form-inline">
        <label>Kola</label>
        <input type="text" class="form-control" value="">
        <button type="submit" class="btn btn-danger">Poista ainesosa</button>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Lisää ainesosa</button>
    </div>
    <div class="form-group">
        <label>Kuvaus</label>
        <textarea class="form-control"> Rommia ja kolaa
        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}
