{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>Rekisteröidy uudeksi käyttäjäksi</h1>

<form method="post" action="{{base_path}}/registerdrinker">
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input type="text" name="name" class="form-control" value="{{attributes.name}}">
    </div>
    
    <div class="form-group">
        <label>Salasana</label>
        <input type="password" name="password" class="form-control">
    </div>
    
    <div class="form-group">
        <label>Vahvista salasana</label>
        <input type="password" name="password-confirm" class="form-control">
    </div>

    {{forms.save_button(action, "Rekisteröidy")}}

</form>

{% endblock %}