{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}

{% if message is not empty %}
{{alerts.succes_message(message)}}
{% endif %}

<div>
    <h1>
        {{ingredient.name}}
        {% if user_logged_in %}
        {{forms.destroy_button("#{base_path}/ingredients/#{ingredient.id}/destroy")}}
        {% endif %}
    </h1>
</div>

<ul>
    <li><strong>Varastossa: </strong>{{ingredient.saldo}}</li>
</ul>

<p>
    {{ingredient.description}}
</p>

{% if user_logged_in %}
{{forms.edit_button("#{base_path}/ingredients/#{ingredient.id}/edit")}}
{% endif %}

{% endblock %}
